
body{
    background-color: rgba(150, 34, 245, 0.07);
}
.home-container{
    width: 1345px;
}
.has-error .help{
    color: #fd0202;
    -webkit-animation: cssAnimation 5s forwards; 
    animation: cssAnimation 3s forwards;
}
.profile-image-wrap{
    width: 35px;
    border-radius: 40px;
}
.menu-tile{
    font-size: 12px;
    padding: 5px 5px;
}
.create-post{
    background-color: #fff;
    padding: 0px;
    box-shadow: 0 1px 8px 0 rgba(32, 33, 36, 0.18);
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    margin: 5px 0px;
}
.create-post div:nth-child(1){
    padding: 5px;
    background-color: #f0f0f0;
}
.create-post div:nth-child(2){
    padding: 25px;
}
.create-post div:nth-child(2) input{
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #fff;
    width: 75%;
}
.create-post div:nth-last-child(1){
    padding: 5px;
}
.create-post hr{
    margin: 10px 5px;
}

.create-post div img{
    width: 55px;
    border-radius: 40px;
}
.create-post div span .btn{
    border-radius: 30px;
    font-size: 12px;
}
.create-post div .btn{
    font-size: 12px;
    background-color: #f0f0f0;
}
.user-post{
    margin: 5px 0px;
    background-color: #fff;
    padding: 0px;
    box-shadow: 0 1px 8px 0 rgba(32, 33, 36, 0.18);
    border: 1px solid #e5e5e5;
    border-radius: 5px;
}
.menu-tile:hover{
    background-color: #f9f9f9;
    border: 1px solid #d6d6d6;
    border-radius: 3px;
}
@keyframes cssAnimation {
    0%   {opacity: 1;}
    90%  {opacity: 1;}
    100% {opacity: 0;}
}
@-webkit-keyframes cssAnimation {
    0%   {opacity: 1;}
    90%  {opacity: 1;}
    100% {opacity: 0;}
}
.login-left{
    background-color: #2e3740;
    color: #ffffff;
    border-radius: 5px 0px 0px 5px;
}
.login-wrapper{
    border: 1px solid #e5e5e5;
    padding: 0px;
    border-radius: 5px;
    margin: 140px auto;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    background-color: #fff;
}
.login-main{
    /* background-image: url('../images/default-pic.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
}
.center-text{
    text-align: center;
}
.fill-available{
    width: -webkit-fill-available;
}
.user-post div span img{
    width: 55px;
    border-radius: 40px;
}
.user-post div span:nth-child(2){
    padding: 5px;
    line-height: 1.2em; 
}
.user-post div:nth-child(1){
    display: flex;
    padding: 10px 10px 0px 10px;
}
.user-post-icons{
    display: flex;
    padding: 10px 10px 0px 10px;
}
.user-post-icons span{
    width: 33.3%;
    text-align: center;
}
.user-post hr{
    margin: 0px 0px 5px 0px;
}
.user-post div img{
    width: 100%;
    margin: 0px;
}
.user-post div:nth-child(2){
    padding: 10px 10px;
}
.user-post-icons span .btn{
    width: 100%;
    background-color: #ffffff;
    font-size: 12px;
}
.my-page{
    margin: 5px 0px;
    background-color: #fff;
    padding: 0px;
    box-shadow: 0 1px 8px 0 rgba(32, 33, 36, 0.18);
    border: 1px solid #e5e5e5;
    border-radius: 5px;
}
.my-page-details{
    display: inline-flex;
    font-size: 12px;
    line-height: 2.0em;
}
.my-page-image{
    width: 100%;
}
.my-page-details span:nth-child(1){
    width: 35%;
    padding: 5px;
}
.my-page-details span:nth-child(2){
    width: 65%;
    padding: 5px;
    line-height: 1.6em;
}
.my-page-icons{
    text-align: center;
    display: flex;
    width: 100%;
    font-size: 12px;
}
.my-page-icons span{
    width: 25%;
}
.my-page hr{
    margin: 7px 5px;
}
.my-page-likes{
    text-align: center;
}
.my-page .btn-group{
    width: 95%;
    display: inline-flex;
    margin: 0px 10px 0px 10px
}
.my-page .btn-group .btn{
    width: 33%;
}
.my-page-dropdown-item{
    display: flex;
}
.my-page-dropdown-menu{
    min-width: 136px;
    margin: 2px 0 0 -110px;
    font-size: 85%;
}
.btn-promotion{
    width: 100% !important;
}
.my-page-btn-group{
    margin: 0px 10px 10px 10px !important;
}
.my-page-btn-down{
    width: auto !important;
    margin-right: 0px !important;
}
.my-page .btn-group .btn-secondary{
    font-size: 12px;
}
.page-tab, 
.message-contact-tab{
    width: 100%;
    display: flex;
}
.page-tab-image{
    width: 20%;
}
.page-tab-image img{
    width: 100%;
    border-radius: 30px;
}
.page-tab-name{
    width: 70%;
    padding: 10px 10px 0px 10px;
    font-size: 12px;
}
.message-contact-tab-image{
    width: 20%;
}
.message-contact-tab-image img{
    width: 100%;
    border-radius: 30px;
}
.message-contact-tab-name{
    width: 70%;
    padding: 10px 10px 0px 10px;
    font-size: 12px;
}
.dot-green{
    background-color: #42b72a;
    padding: 4px;
    border-radius: 10px;
    margin: 15px 0px 10px 0px
}
.side-messages-area{
    /* overscroll-behavior: contain;
    height: 600px;
    overflow: hidden; */
    position: fixed;
    top: 0px;
    right: 0;
    border-left: 1px solid #c0c0c0;
}
/* .side-menu-wrap{
    position: fixed;
    left: 0;
    top: 0;
} */
.search-message-list{
    bottom: 0;
    position: fixed; 
}